<h1>List of Patients</h1>
<% @patients.each do |patient| %>
<ul>
    <li><%= link_to patient.name, patient_path(patient) %></li>
    <li>Number of Appointments: <%= patient.appointments.length %></li>
</ul>
<br>
<% end %>