<h1>Appointment Info</h1>
<div>Appointment Time: <%= @appointment.appointment_datetime %><div>
<br>
<div>Appointment Doctor: <%= @appointment.doctor.name %><div>
<br>
<div>Appointment Patient: <%= @appointment.patient.name %><div>